{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <main class="container">
        <div id="myDIV" class="header">
        <h2 style="margin:5px">To Do List App</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="title" id="myInput" placeholder="Title...">
            <button type="submit" class="addBtn">Add</button>
        </form>
        </div>

        <ul id="myUL">
            {% for todo in todos reversed %}
            <li>{{todo.title | title}} <span class="close"><a style="text-decoration: none; color: black;" href="delete/{{todo.id}}">Delete</a></span></li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>